/* Place custom css here. */
img {
  border: 0.5rem solid #ebebe5;
  border-radius: 1rem;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

article pre {
  margin-left: 0rem;
  margin-right: 0rem;
}

article blockquote {
  margin-left: 0rem !important;
}

.w-screen {
  width: 100vw;
}

.header-bg {
  background: var(--bg);
  z-index: 10;
}

.border-bottom {
  border-bottom: 1px solid #ebebe5;
}

/* for main */
.pt-28 {
  padding-top: 7rem;
}

.min-h-\[calc\(100\%-5rem\)\] {
  min-height: calc(100% - 5rem);
}